{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Вход</h2>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}

        <label>{{ form.email.label }}</label>
        {{ form.email(class="form-input") }}
        <!-- Убрали ошибки формы -->

        <label>{{ form.password.label }}</label>
        {{ form.password(class="form-input") }}
        <!-- Убрали ошибки формы -->

        {{ form.submit(class="form-button") }}
    </form>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul class="flash-messages">
      {% for category, message in messages %}
        <li class="flash {{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}



