{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Регистрация</h2>
    <form method="POST" action="{{ url_for('main.register') }}">
        {{ form.hidden_tag() }}

        <label>{{ form.username.label }}</label>
        {{ form.username(class="form-input") }}

        <label>{{ form.email.label }}</label>
        {{ form.email(class="form-input") }}

        <label>{{ form.password.label }}</label>
        {{ form.password(class="form-input") }}

        {{ form.submit(class="form-button") }}
    </form>
</div>
{% endblock %}